<!--extends html header-->
{% extends 'header.html' %}
<!--load project title in url-->
{% block title %}MultiUser{% endblock %}
<!--load html contents-->
{% block content %}


<!doctype html>
<html lang="en">
  <head>

  </head>


  <div class="container-fluid mt-4 border p-5 m-auto">
  <h1 class="text-center">Home page</h1> 
  <hr>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis ex veniam impedit rerum minus fugit quam, ad enim libero ipsa atque quasi fugiat necessitatibus hic praesentium, consequuntur deleniti unde a.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores corrupti beatae repellat odio voluptas, natus atque, culpa facilis omnis fugit sapiente quo accusantium commodi quos, mollitia provident repudiandae quam rem.</p>
  </div>

</body>
</html>


{% endblock %}