{% extends "./header.html" %}

{% block content %}

<div class="ui active dimmer" id="loading" hidden>
    <div class="ui massive text loader">Loading</div>
</div>


<div class="container mt-4">

    <div class="col-lg-5 col-md-8 mx-auto ui segment p-4 baseBlock border">
        <br>
        <h1 class="display-4 text-center">Teacher Registration</h1>
        <hr>

        <!--required msg-->
        <div class="ui warning message" id="message" {% if not error %} hidden {% endif %}>
            {{error}}
        </div>
        <!--required msg-->


        <form class="ui form" id="form" onsubmit="return validate(event)" action="/teacherSignup/" method="POST">

            {% csrf_token %}

            <div class="field">
                <label>Name</label>
                <input type="text" class="form-control" name="name" placeholder="Name">
            </div>
            <div class="field">
                <label>Phone</label>
                <input type="text" class="form-control" name="phone" placeholder="9999XXXXX">
            </div>
            <div class="field">
                <label>Email</label>
                <input type="email" class="form-control" name="email" placeholder="example@gmail.com">
            </div>
            <div class="field">
                <label>Department</label>
                <input type="text" class="form-control" name="department" placeholder="CS/Machenic/Electronic">
            </div>
            <div class="field">
                <label>Genger</label>
                <input type="text" class="form-control" name="gender" placeholder="Male/Female">
            </div>

            <div class="field">
                <label>Password</label>
                <input type="password" class="form-control" name="password" placeholder="**********">
            </div>
            <div class="field">
                <label>Re-Enter Password</label>
                <input type="password" class="form-control" name="repassword" placeholder="**********">
            </div>
            <div id="verificationInput" class="field" hidden>
                <label>Varification Code</label>
                <input type="text" id="code" name="code" placeholder="12121212">
            </div>
            
            <button class="btn-info btn btn-block" id="submitButton" type="submit">Submit</button>
            <a class="ui button teal btn btn-block" onclick="verifyCode()" hidden id="verifyButton">Verify</a>
            
        </form>
    </div>
</div>

{% load static %}
<script src="{% static 'multiuser/js/signup.js' %}"></script>

{% endblock %}