{% extends 'header.html' %}

{% block title %}Login{% endblock %}

{% block content %}


<div class="ui active dimmer" id="loading" hidden>
    <div class="ui massive text loader">Loading</div>
</div>


<div class="container mt-4">

    <div class="col-lg-5 col-md-8 mx-auto ui segment p-4 baseBlock">
        <br>
        <h1 class="display-4 text-center">Teacher Reset Password</h1>
        <hr>

        <!--required msg-->
        <div class="ui warning message" id="message" {% if not error %} hidden {% endif %}>
            {{error}}
        </div>
        <!--required msg-->


        {% if step1 %}

        <form id="step-1" class="ui form" action="/teacher-reset-password-verification" method="POST">

            {% csrf_token %}
            
            <div class="field">
                <label>Email</label>
                <input type="email" name="email" required placeholder="example@gmail.com">
            </div>
            
            <div class="mt-3">
                <button class="button ui teal btn-block">Send Verification Code</button>
            </div>
            
            
        </form>

        {% endif %}


        {% if step2 %}

        <form id="step-2" class="ui form" action="/teacher-verify-reset-password-code" method="POST">

            {% csrf_token %}
            
            <div class="field">
                <label>Verification Code</label>
                <input type="number" name="code" required placeholder="123456789">
            </div>
            
            <div class="mt-3">
                <button class="button ui teal btn-block">Verify Code</button>
            </div>
            
            
        </form>

        {% endif %}


        {% if step3 %}

        <form id="step-3" class="ui form" action="/teacher-reset-password" method="POST">

            {% csrf_token %}
            
            <div class="field">
                <label>New Password</label>
                <input type="text" name="password" required placeholder="***********">
            </div>
            <div class="field">
                <label>Re Enter New Password</label>
                <input type="text" name="repassword" required placeholder="***********">
            </div>

            <div class="mt-3">
                <button class="button ui teal btn-block">Change Password</button>
            </div>
            
            
        </form>

        {% endif %}

    </div>
</div>




{% endblock %}